.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60%;
  align-items: center;
}

.callAction {
  text-align: center;
  max-width: 550px;
  margin-left: 100px;
}

.greeting {
  color: #424874;
  font-family: "Rampart One";
  font-size: 50px;
}

.desc {
  box-sizing: content-box;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 3vh;
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=4248748f);
}


.imageBg, .imageDeco {
  position: absolute;
  z-index: -5;
}

.imageBg {
  right: 0;
  height: 100vh;
}

.imageDeco {
  left: -50px;
  top: -50px;
  height: 60%;
}