.btn {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 10px 35px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
  
