.container {
    box-sizing: border-box;
    height: 100px;
    text-align: left;
    padding-left: 10px;
    width: 350px;
}

.title, .artists{ margin: 0 0 5px 0; }

.album { margin-bottom: 0; }

.title, .artists, .album {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .title:hover:after{
    content:attr(dataText);
    overflow: visible;
    text-overflow: inherit;
    background: #fff;
    position: absolute;
    left:auto;
    top:auto;
    width: auto;
    max-width: 20rem;
    border: 1px solid #eaebec;
    padding: 0 .5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.28);
    white-space: normal;
    word-wrap: break-word;
    display:block;
    color:black;
    margin-top:-1.25rem;
  } */