header {
  font-weight: bold;
  color: white;
  background-color: #1e262f;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: aqua;
  font-style: italic;
  font-size: 24px;
}

.navItem {
  border-radius: 5px;
  display: block;
  margin: 10px;
  padding: 5px 10px;
}
.navItem:hover {
  color: rgba(129,140,248);
  background-color: white;
}

ul {list-style-type:none;}
li {display:inline-block;}

.avatarContainer {
  display: flex;
  justify-content: flex-end;
}

.avatarName {
  color: aliceblue;
  padding: 0 15px;
}

.avatarDesc {
  display: flex;
  align-items: center;  
  box-sizing: content-box;
  border-radius: 20px;
  background-color: #A6B1E1;
  padding: 2px;
}