.card {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #F3F1F5;
  border-width: 3px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 100px 2.2fr .8fr;
  align-items: center;
}

.image {
  height: 100px;
  border-radius: 20px;
}